<?xml version="1.0" encoding="UTF-8" ?>
<Configuration monitorInterval="30">  <!--xmlns="http://logging.apache.org/log4j/2.0/config"-->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" ignoreExceptions="false">
            <PatternLayout
                    pattern="%highlight{[%d{HH:mm:ss.SSS}] | %-5p | %-32.42t | %-32.42c{1} | %m%n}{FATAL=red blink, ERROR= red blink, WARN = yellow bold, INFO = black, DEBUG = green bold"/>
            <PatternLayout
                    pattern="[%d{HH:mm:ss.SSS] | %-5p | %-32.42t | %-32.42c{1} | %m%n"/>

        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>